.DS_Store
*.sw?
*/config/database.php
*/config/core.php
.project
*.swp
*~
*/tmp/*
*/tmp/**/*
*/tmp/cache/
*/tmp/cache/models
*/tmp/cache/models/empty
*/tmp/cache/persistent/empty
*/tmp/cache/views/empty
*/tmp/logs/empty
*/webroot/css_assets/*.css
*/webroot/js_assets/*.js
cake/libs/view/elements/swf/flv_video.ctp